.main {
	/* box */
	box-sizing: border-box;
	flex-basis: 60%;
	flex-grow: 1;
	margin-left: 20%;
	padding: 0 2rem;

	@media #{$phone-large} {
		margin-left: 0;
	}
	
	&__container {
		/* box */
		height: 100%;

		/* effects */
		overflow: scroll;
	}
	
	&__subtitle {
		/* box */
		padding-top: 2rem;

		/* text */
		color: $accent-color;
	}

	&__section {
		/* box */
		border-bottom: solid 2px #ccc;
		max-width: 70rem;
		margin: 0 auto;
		padding: $padding;

		@media #{$phone-large} {
			padding: 4rem 0;
		}
	}

	&__profile {
		@media #{$phone-large} {
			/* box */
			display: none;
		}
	}

	&__contact-info {
		/* box */
		display: inline-block;

		/* text */
		text-transform: capitalize;

		a {
			/* text */
			color: $text-color;
			text-decoration: none;
		}
	}

	&__email {
		/* */
		display: inline-block;
	}
}
