$text-color: #333;
$icon-color: rgba(255, 255, 255, .5);
$body-font-size: 2.0rem;
$font-sidebar: 'Lato', sans-serif;
$padding: 4rem 2rem;
$accent-color: #fe7b5c;

// media queries
$phone-large: "(max-width: 768px)";
$phone-small: "(max-width: 320px)";

//$phone-large
$padding-phone-large: 1.5rem 1.5rem;