<!DOCTYPE html>
<html>
<head>
	<title>Sarah Pappas's Web Development Portfolio</title>
	<base href="../public/">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="site-container">
		<div class="header">
			<div class="header-main">
				<img class="profile-pic" src="img/Sarah_Pappas_profile.jpg"></img>
				<div class="headline">Sarah Pappas</div>
				<div class="headline"></div>
			</div>
			<div class="footer">
				<div>
					<div><a href="https://github.com/sarahpappas" target="_blank"><i class="fa fa-github-square"></i></a><div class="link-text">To GitHub</div></div>
					<div><a href="https://www.linkedin.com/in/sarahepappas" target="_blank">
							<i class="fa fa-linkedin-square" target="_blank"></i>
						</a>
						<div class="link-text" target="_blank">To LinkedIn</div>
					</div>
					<div><a href="#" target="_blank"><i class="fa fa-envelope-square"></i></a><div class="link-text">Send Email</div></div>
					<div><a href="PappasSarahResume.pdf" target="_blank"><i class="fa fa-paperclip"></i></a><div class="link-text">Read Resume</div></div>
				</div>
			</div>
		</div>
		<div class="home-body">
			<div class="body-container">
				<div class="section">
					<h1>Sarah Pappas</h1>
					<p>Fullstack Developer</p>
				</div>
				<div class="section">
					<p class="quote"><i class="fa fa-quote-left"></i>I am a practical developer who sees the big picture.
					 I am thorough and enjoy exploring alternative solutions to produce a result I can be proud of. 
					 I thrive on constructive criticism, and I'm determined to learn something new every day.
					 <i class="fa fa-quote-right"></i></p>
					 <p><a href="PappasSarahResume.pdf" target="_blank">See my resume</a></p>
				</div>
				<div class="section">
					<h1>Adventure Game - The Quest</h1>
					<div>
						<img src="img/quest_game.png">
					</div>
<!-- 					<div class="gif-container">
						<div class="js-pause-img pause-img"><i class="fa fa-play"></i>Play Gif</div>
						<img src="img/quest_game_hover.gif" class="js-gif gif hidden">
					</div> -->
					<p>Technologies: JavaScript, WebGL and (three.js)</p>
					<div>
						<a href="http://sarahpappas.github.io/quest" target="_blank">Play game</a>
						<a href="https://github.com/SarahPappas/Quest" target="_blank">GitHub repo</a>
					</div>
					<p>This adventure game takes place in a 3D rendered landscape with thousands of trees, 
					and various models.In this game the player encounters the world in a 1st person view. 
					The player is guided through the world by pillars that present riddles.  
					</p>
				</div>
				<div class="section">
					<h1>Website - Show Theories</h1>
					<div>
						<img src="img/show_theories.png">
					</div>
					<p>Technologies: Rails, JavaScript, Riot.js</p>
					<div>
						<a href="http://showtheories.s3-website-us-west-2.amazonaws.com" target="_blank">Frontend</a>
						<a href="https://showtheories.herokuapp.com/theories" target="_blank">Backend</a>
						<a href="#" target="_blank">GitHub repo Frontend</a>
						<a href="#" target="_blank">GitHub repo Backend</a>
					</div>
					<p>Built a fan theories website with a Rails api and Riot.js. On the site anyone can post a theory, view theories, or
					vote on a theory. Voting is restricted per theory based in the the user's IP address. </p>
				</div>
				<div class="section">
					<h1>Contact Info</h1>
					<div>
						<p>Email: pappas.sarah@gmail.com</p>
						<p>Or message me</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- <script type="text/javascript" src="js/main.js"></script> -->
</html>