<!DOCTYPE html>
<html>
<head>
	<title>Sarah Pappas's Web Development Portfolio</title>
	<base href="../public/">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="site-container">
		<div class="header">
			<div class="header-main">
				<img class="profile-pic" src="img/Sarah_Pappas_profile.jpg"></img>
				<div class="headline">Sarah Pappas</div>
				<div class="headline"></div>
			</div>
			<div class="footer">
				<div>
					<div><a href="https://github.com/sarahpappas" target="_blank"><i class="fa fa-github-square"></i></a><div class="link-text">To GitHub</div></div>
					<div><a href="https://www.linkedin.com/in/sarahepappas" target="_blank">
							<i class="fa fa-linkedin-square" target="_blank"></i>
						</a>
						<div class="link-text">To LinkedIn</div>
					</div>
					<div><a href="#" target="_blank"><i class="fa fa-envelope-square"></i></a><div class="link-text">Send Email</div></div>
					<div><a href="#" target="_blank"><i class="fa fa-paperclip"></i></a><div class="link-text">Read Resume</div></div>
				</div>
			</div>
		</div>
		<div class="home-body">
			<div class="body-container">
				<div class="section">
					<p class="paragraph-bold">I am a practical developer who sees the big picture.
					 I am thorough and enjoy exploring alternative solutions to produce a result I can be proud of. 
					 I thrive on constructive criticism, and I'm determined to learn something new every day.
					 </p>
					 <p><a href="Resume-edited1.pdf">See my resume</a></p>
				</div>
				<div class="section">
					<p>Quest Game</p>
					<div class="gif-container">
						<div class="pause-img"><i class="fa fa-play"></i>Play Gif</div>
						<img src="img/quest_game_hover.gif" class="gif">
					</div>
					<p>technologies</p>
					<p><a href="http://sarahpappas.github.io/quest">link to game</a></p>
					<p>Description</p>
				</div>
				<div class="section">project</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/main.js"></script>
</html>