<!DOCTYPE html>
<html>
<head>
	<title>Sarah Pappas's Web Development Portfolio</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
</head>
<body>
	<div class="site-container">
		<div class="header">
			<div class="header-main">
				<div class="profile-pic">
					<a href=""></a>
				</div>
				<div class="headline">Example Text</div>
			</div>
			<div class="footer">
				<div class="links"></div>
				<div class="copywrite">this is a footer</div>
			</div>
		</div>
		<div class="home-body">
			<%- body %>
		</div>
	</div>
</body>
</html>