<!DOCTYPE html>
<html>
<head>
	<title>Sarah Pappas's Web Development Portfolio</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>
<body>
	<div class="site-container">
		<div class="header">
			<div class="header-main">
				<img class="profile-pic" src="img/Sarah_Pappas_profile.jpg"></img>
				<div class="headline">Sarah Pappas</div>
				<div class="headline"></div>
			</div>
			<div class="footer">
				<div class="links">
					<a href="#">github</a>
					<a href="#">linkedIn</a>
					<a href="#">email</a>
				</div>
				<div class="copywrite">this is a footer</div>
			</div>
		</div>
		<div class="home-body">
			<%- body %>
		</div>
	</div>
</body>
</html>