html {
  /* text */
  font-size: 10px; }

body {
  /* box */
  height: 100%;
  width: 100%;
  margin: 0;
  /* text */
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.62; }

.site-container {
  /* box */
  height: 100%;
  width: 100%;
  /* flex child element settings */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.header {
  /* box */
  box-sizing: border-box;
  flex-grow: 1;
  padding: 12.8rem 6.4rem;
  height: 120vh;
  /* background */
  background-image: url(../img/landscape.jpg);
  background-position: 700px 0;
  background-size: cover;
  /* text */
  color: black;
  /* flex child element settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.home-body {
  /* box */
  box-sizing: border-box;
  flex-basis: 60%;
  flex-grow: 1;
  padding: 3.2rem; }

.header-main {
  /* box */
  display: block;
  flex-grow: 0; }
  .header-main .profile-pic {
    /* box */
    border-radius: 50%;
    height: 100px;
    width: 100px; }

.footer {
  /* box */
  display: block;
  flex-grow: 0;
  font-size: 1.2rem;
  position: relative; }
  .footer .link-text {
    /* box */
    display: none; }
  .footer a:hover + .link-text {
    /* box */
    display: block;
    /* text */
    font-size: 2rem; }
  .footer a:active + .link-text {
    /* box */
    display: block;
    /* text */
    font-size: 2rem; }
  .footer a {
    /* text */
    color: rgba(255, 255, 255, 0.5);
    font-size: 6rem; }

.quote {
  /* text */
  font-size: 3rem;
  font-weight: italic;
  line-height: 2;
  letter-spacing: .1rem; }

.headline {
  /* text */
  font-size: 1em; }

.body-container {
  /* box */
  height: 105vh;
  /* effects */
  overflow: scroll; }
  .body-container .section {
    /* box */
    border-bottom: solid 2px #ccc;
    max-width: 70rem;
    margin: 0 auto; }
    .body-container .section img {
      /* box */
      max-width: 100%;
      height: auto;
      /* effects */
      overflow: hidden; }
    .body-container .section .pause-img {
      /* text */
      font-size: 80px;
      text-align: center; }

.hidden {
  display: none; }
