/*$accent-color: #6665ff;*/
/*$accent-color: #fe7b5c;*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

/*@font-face { font-family: Delicious; src: url('../fonts/Delicious-Roman.otf'); } 
*/
/*@font-face { font-family: Infinity; src: url('../fonts/Infinity.ttf'); } */
html {
  /* text */
  font-size: 10px; }

body {
  /* background */
  background-color: #f7f7f7;
  /* text */
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.62; }

h1 {
  /* text */
  text-transform: uppercase;
  letter-spacing: 1.5em;
  line-height: 2;
  font-size: 4rem; }

/*.first-name {
	font-size: 4.78rem;
}*/
h2 {
  text-transform: uppercase;
  font-weight: 300; }

h3 {
  font-weight: 300; }

.sidebar {
  /* box */
  position: fixed;
  left: 0px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  width: 20%;
  /* background */
  background-color: #333;
  background-position: 700px 0;
  background-size: cover;
  /* text */
  color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  /* flex child element settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.sidebar-main {
  /* box */
  display: block;
  flex-grow: 0;
  padding: 4rem 2rem; }
  .sidebar-main .profile-pic {
    /* box */
    border-radius: 50%;
    height: 100px;
    width: 100px; }

.nav-buttons {
  /* box */
  display: block;
  flex-grow: 0;
  position: relative; }
  .nav-buttons .nav-button {
    padding-bottom: 2.7rem; }
    .nav-buttons .nav-button .link-text {
      padding-top: 0.7rem;
      /* text */
      color: #f7f7f7;
      font-size: 1.8rem;
      line-height: 1rem;
      text-align: center; }
    .nav-buttons .nav-button .fa {
      /*box*/
      display: block;
      /* text */
      font-size: 8rem; }
    .nav-buttons .nav-button .not-square {
      padding-bottom: 0.85rem;
      font-size: 7rem; }
    .nav-buttons .nav-button a {
      /* text */
      color: rgba(255, 255, 255, 0.5);
      font-size: 6rem; }

.home-body {
  /* box */
  box-sizing: border-box;
  flex-basis: 60%;
  flex-grow: 1;
  margin-left: 20%; }

.headline {
  /* text */
  font-size: 1em; }

.body-container {
  /* box */
  height: 100%;
  /* effects */
  overflow: scroll; }
  .body-container .subtitle {
    /* text */
    color: #fe5c66; }
  .body-container .section {
    /* box */
    border-bottom: solid 2px #ccc;
    max-width: 70rem;
    margin: 0 auto;
    padding: 4rem 2rem; }
    .body-container .section .project {
      /* box */
      margin-top: 4rem; }
      .body-container .section .project img {
        /* box */
        display: block;
        height: auto;
        max-width: 100%;
        /* effects */
        overflow: hidden; }
      .body-container .section .project .img {
        /* background */
        position: relative; }
        .body-container .section .project .img .img-title {
          /* box */
          box-sizing: border-box;
          display: block;
          padding: 2rem;
          margin: 0 auto;
          width: 100%;
          /* background */
          /*background: rgba(0, 0, 0, 0.75);*/
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 0;
          /* text */
          /*color: #fff; */
          font-size: 1.6rem;
          font-weight: 300;
          text-transform: uppercase; }
      .body-container .section .project .project-description {
        /* box */
        border: solid 2px #ccc;
        border-top: none;
        padding: 0 2rem;
        padding-top: 2rem; }
        .body-container .section .project .project-description .project-item {
          /* box */
          padding-bottom: 2rem; }
        .body-container .section .project .project-description a {
          text-decoration: none;
          color: #333; }
        .body-container .section .project .project-description a:visited {
          text-decoration: none;
          color: #333; }
        .body-container .section .project .project-description .project-buttons {
          /* box */
          display: flex;
          /* text */
          text-transform: uppercase;
          font-size: 1.6rem;
          /* flex children */
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
        .body-container .section .project .project-description .project-button {
          /* box */
          width: 20rem;
          height: 3rem;
          /*border-radius: .5rem;*/
          /* background */
          background-color: #fe5c66;
          /* text */
          text-align: center; }

.hidden {
  display: none; }
