$text-color: #333;
$icon-color: rgba(255, 255, 255, .5);
$body-font-size: 2.0rem;
$font-sidebar: 'Lato', sans-serif;
$padding: 4rem 2rem;
/*$accent-color: #6665ff;*/
/*$accent-color: #fe7b5c;*/
$accent-color: #fe5c66;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*@font-face { font-family: Delicious; src: url('../fonts/Delicious-Roman.otf'); } 
*//*@font-face { font-family: Infinity; src: url('../fonts/Infinity.ttf'); } */

html {
	/* text */
	font-size: 10px;
}

body {
	/* background */
	background-color: rgb(97%, 97%, 97%);
	/* text */
	color: $text-color;
	font-family: $font-sidebar;
	font-size: $body-font-size;
	font-weight: 300; 
	line-height: 1.62;
}

h1 {
	/* text */
	text-transform: uppercase;
	letter-spacing: 1.5em;
	line-height: 2;	
	font-size: 4rem;
}

/*.first-name {
	font-size: 4.78rem;
}*/

h2 {
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
	font-weight: 300;
}

.sidebar {
	/* box */
	position: fixed;
	left: 0px;
	box-sizing: border-box;
	flex-grow: 1;
	height: 100%;
	width: 20%;

	/* background */
	background-color: #333;
	background-position: 700px 0;
	background-size: cover;

	/* text */
	color: rgb(97%, 97%, 97%);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;

	/* flex child element settings */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.sidebar-main {
	/* box */
	display: block;
	flex-grow: 0;
	padding: $padding;

	.profile-pic {
		/* box */
		border-radius: 50%;
		height: 100px;
		width: 100px;
	}
}

.nav-buttons {
	/* box */
	display: block;
	flex-grow: 0;
	position: relative;

	// The icon font library adds a bit of extra space on the top and bottom of 
	// icons, which we want to take into account when we set our paddings.
	$icon-font-offset: .3rem;
	
	.nav-button {
		padding-bottom: 3rem - $icon-font-offset;

		.link-text {
			padding-top: 1rem - $icon-font-offset;

			/* text */
			color: rgb(97%, 97%, 97%);
			font-size: 1.8rem;
			line-height: 1rem;
			text-align: center;
		}

		.fa {
			/*box*/
			display: block;

			/* text */
			font-size: 8rem;
		}

		.not-square {
			padding-bottom: 1rem - .15rem;
			font-size: 7rem;
		}

		a {
			/* text */
			color: rgba(255, 255, 255, .5);
			font-size: 6rem;
		}
	}
}

.home-body {
	/* box */
	box-sizing: border-box;
	flex-basis: 60%;
	flex-grow: 1;
	margin-left: 20%;
}

.headline {
	/* text */
	font-size: 1em;

}

.body-container {
	/* box */
	height: 100%;

	/* effects */
	overflow: scroll;

	.subtitle {
		/* text */
		color: $accent-color;
	}

	.section {
		/* box */
		border-bottom: solid 2px #ccc;
		max-width: 70rem;
		margin: 0 auto;
		padding: $padding;

		.project {
			/* box */
			margin-top: 4rem;

			img {
				/* box */
				display: block;
				height: auto;
				max-width: 100%;

				/* effects */
				overflow: hidden;
			}

			.img {
				/* background */
				position: relative;

				.img-title {
					/* box */
					box-sizing: border-box;
					display: block;
					padding: 2rem;
					margin: 0 auto;
					width: 100%;
					/* background */
					/*background: rgba(0, 0, 0, 0.75);*/
					background-color: $icon-color;
					position: absolute;
					top: 0;
					/* text */
					/*color: #fff; */
					font-size: 1.6rem;
					font-weight: 300;
					text-transform: uppercase;
				}
			}

			.project-description {
				/* box */
				border: solid 2px #ccc;
				border-top: none;
				padding: 0 2rem;
				padding-top: 2rem; 

				.project-item {
					/* box */
					padding-bottom: 2rem;
				}

				a {
					text-decoration: none;
					color: $text-color;
				}

				a:visited {
					text-decoration: none;
					color: $text-color;	
				}

				.project-buttons {
					/* box */
					display: flex;
					/* text */
					text-transform: uppercase;
					font-size: 1.6rem;
					/* flex children */
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
				}

				.project-button {
					/* box */
					width: 20rem;
					height: 3rem;
					/*border-radius: .5rem;*/
					/* background */
					background-color: $accent-color;
					/* text */
					text-align: center;
				}
			}
		}
	}
}

.hidden {
	display: none;
}
